/* ************************************************************************* */
/* General                                                                   */
/* ************************************************************************* */

:root {
  --main-bg-color: #1596a7;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	
	margin-top: 5px;
	margin-left: 15px;
	margin-rightL: 15px;
	
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	/*   font-family: "Lato", sans-serif; */
}

header {
	text-align: center;	
	width: 100%;
	top: 0;
	font-size: xx-large;
	color: darkgoldenrod;
}
				
footer {
	font-size: medium;
	color: black;
	text-align: center;	
	width: 100%;
	bottom:0;
}

/* cellpadding */
th, td { padding: 5px; }


/* ************************************************************************* */
/* Top Menu                                                               */
/* ************************************************************************* */
.topMenu {
	color: black;
	text-align: center;
	background-color: skyblue;
	display: inline-block; 
	width: 100%;
	font-size: .5em;
	width: 100%;
	vertical-align: midddle;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.topMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.topMenu li {
    float: left;
    border-right: 1px solid #bbb;
}

.topMenu li:last-child {
    border-right: none;
}

.topMenu li a:hover {
    background-color: white;
    color: black;
}

.topMenu active {
    background-color: #4CAF50;
    color: white;
}

.topMenu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.topMenuItem {
	display: inline-block;
}

/* ************************************************************************* */
/* Product Page Product Heading
/* ************************************************************************* */
.productHeading {
	font-weight: bold;
	color: black;
	text-decoration: none;
	
}

.productHeading:hover {
	font-weight: bold;
	color: black;
	text-decoration: none;
}

/* ************************************************************************* */
/* Front Page Solution
/* ************************************************************************* */
.frontPageSolution {
	display: inline-block;
	color: black;
	vertical-align: middle;
	
}


/* ************************************************************************* */
/* Value Statement                                                           */
/* ************************************************************************* */
.valueStatement {
	display: inline-block;
	font-size: .5em;
	color: black;
	width: 100%;
}


/* ************************************************************************* */
/* Bottom Menu                                                               */
/* ************************************************************************* */
.bottomMenu {
	color: black;
	font-size: .5em;
	text-align: center;
	background-color: #000099;
	display: inline-block; 
	width: 100%;
	vertical-align: midddle;
}

.bottomMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.bottomMenu li {
    float: left;
    border-right: 1px solid #bbb;
}

.bottomMenu li:last-child {
    border-right: none;
}

.bottomMenu li a:hover {
    background-color: white;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.bottomMenu li a {
    display: block;
    color: gold;
    padding: 8px 16px;
    text-decoration: none;
}

.bottomMenuItem {
	display: block;
    color: gold;
    padding: 8px 16px;
    text-decoration: none;
    background-color: transparent;
}

.statusMessageBox {
	border: none;
}

.registerInput {
	width: 25em;
}

.button.disabled {
  opacity: 0.65; 
  cursor: not-allowed;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

.verticalLine {
  border-left: thick solid #ff0000;
}

.productBullet {
	color: darkgoldenrod; 
	font-weight: bold;
}

img.wrapRight {
	float: right;
}

img.wrapLeft {
	float: left;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) JDA */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}


.btn-video {
  color: #000000 !important;
  background-color: #ffff00 !important;
  border-color: #2e6da4;
}

.btn-payment {
  color: #fff;
  background-color: #006633;
  border-color: #2e6da4;
}

/* ************************************************************************* */
/* JSP Template 1                                                            */
/* ************************************************************************* */
.warpHeaderBar1 {
	color: black;
	background-color: red;
	
}

.warpHeader2 {
	color: gold;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.standard_li {
	li {
    float: left;
    border-right: 1px none #bbb;
}
}

.verticalDivider {
    left:50%;
    top:10%;
    bottom:10%;
    border-left:1px solid black;
}

.row {
  width: 100%;
  text-align: left; // center the content of the container
}

.block {
  display: inline-block; // display inline with abality to provide width/height
}​

/* ************************************************************************* */
/* Landing Page Section                                                      */
/* ************************************************************************* */

.baselist ul
{
    list-style-type: disc;
    margin: initial;
    padding: 0 0 0 40px;
    color="red";
}

.baselist li
{
    display: list-item;
}


        
.landingPage {
  	background-image: url("../imgx/warp_stars_m.jpg");
  	background-repeat: no-repeat;
  	/*
  	 background-size: 100% 100%;
  	*/
	background-size: cover;
	background-color: DeepSkyBlue  ;
	width: 100%;
	height: 100%;
	min-height:0;

}


#content {
    height: 100%;
    width: 100%;
    position: absolute;	
}

#mainContent {
	float:left; 
	display:inline; 
	width: 49%; 
	color: gold;
	
	font-size: xx-large;
	text-align: center;
}
	
#sideContent {
	float:left; 
	display:inline; 
	width: 49%; 
	color: black;
	
	font-size: x-large;
	text-align: center;
}

.campBurst {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

		
#login {
	display: block;
	width: 15%;
	color: gold;
	text-align: center;
	
	border-size: 2px;
	border-style: solid;
	border-color: gold;

    position: fixed;
    right: 15%;
    bottom: 15%;


}

/* 
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a:hover {
    background-color: gray;
    color: gold;
}

.active {
    background-color: #4CAF50;
    color: white;
}

li a {
    display: block;
    color: gold;
    padding: 8px 16px;
    text-decoration: none;
}
*/

/***************************************************************/
/*                     Carousel                                */
/***************************************************************/
.mySlides {
	color: gold;
}

.carousel-div {
    max-width:900px;
    max-height:500px;
    margin:auto;
    margin-top:16px!important;
    margin-bottom:16px!important;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/***************************************************************/
/*             The side navigation menu                        */
/***************************************************************/

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* *********************************************************************** */
/* Modal Dialog                                                            */
/* *********************************************************************** */
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

/* *********************************************************************** */
/* End                                                                     */
/* *********************************************************************** */