/* ************************************************************************* */
/*                                                                           */
/* General                                                                   */
/*                                                                           */
/* ************************************************************************* */
* {
    box-sizing: border-box;
}

/*no collapse*/
.navbar-right {
    float: right;
}

.navbar-right > li {
    float: right
}



/* ************************************************************************* */
/*                                                                           */
/* Top Menu                                                                   */
/*                                                                           */
/* ************************************************************************* */
.warpTopMenu {
  font-size: 1.5vw;
}

