<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>com.warpww.web</display-name>
  <servlet>
    <servlet-name>BotDetect Captcha</servlet-name>
    <servlet-class>com.captcha.botdetect.web.servlet.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BotDetect Captcha</servlet-name>
    <url-pattern>/botdetectcaptcha</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>warp18001</servlet-name>
    <servlet-class>com.warpww.web.servlet.ux.warp18001</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>warp18001</servlet-name>
    <url-pattern>/businessanalytics</url-pattern>
    <url-pattern>/BusinessAnalytics</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>warp18002</servlet-name>
    <servlet-class>com.warpww.web.servlet.ux.warp18002</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>warp18002</servlet-name>
    <url-pattern>/projectmanagement</url-pattern>
    <url-pattern>/ProjectManagement</url-pattern>
  </servlet-mapping>


</web-app>
